<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <add name="Database" connectionString="server=.\SQLEXPRESSR2;Initial Catalog=abs;Persist Security Info=True;User ID=sa;Password=12345Qwert;"
      providerName="System.Data.SqlClient"/>
    <add name="DMS" connectionString="server=.\SQLEXPRESSR2;Initial Catalog=DMS;Persist Security Info=True;User ID=sa;Password=12345Qwert;"
      providerName="System.Data.SqlClient"/>
    <add name="MS_ABS" connectionString="server=.\SQLEXPRESSR2;Initial Catalog=MS_ABS;Persist Security Info=True;User ID=sa;Password=12345Qwert;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="Admin" value="E10ADC3949BA59ABBE56E057F20F883E"/>
    <add key="Media" value="http://www.absimg.com/"/>
    <add key="WXPAY_NOTIFY_URL" value="http://appuser.abs.cn/api/shop/wxnotify"/>
    <add key="WXPAY_MCHID" value="1296667201"/>
    <add key="WXPAY_KEY" value="8008d77b5908810478fd034fbed43456"/>
    <add key="WXPAY_APPSECRET" value="1f8c8e1df1fbdc1bcc782d252b0c4f6d"/>
    <add key="WXPAY_IP" value="112.124.5.2"/>
    <add key="WXPAY_APPID" value="wx736fd22e825a9ce5"/>

    <add key="ALIPAY_PRIVATE_KEY"
      value="MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBAOalj9Qp9G/m6goaQCH4+S80ylOv/VFPzggS5xdvVv+gBdidt8nY+PuOUnHdvjOmsjXX3cKMxHOt5DiBpiB8Re0tQaY4bw5q1LkLKmfc69XjG4+bcLE8FV2TmSTIvd4mvQKwTtK1UBP/YNW8JfhkB7vRM7y1Av6myd8e+20PdY9HAgMBAAECgYEAiDAQKh2PyJdXcBmp7qVdNWN9aEbNU7rEk/3dV/gVLaEmco5GHDgyZA7YXYWqLkNqjOJmfd6yjP+Ld1YOarYWbuNGFRLHga2V5nPz4oQxeo7mpb738D2VfFZHFn4TQSUOmBrG62AJSVZb7pk9tJXcbn2wvXqxEcuqEHBmU2F7mgECQQD1TvGc3HsvDp2/w+KCXetif9wCsFQSJHia4z1kdjOBRAyQ/6E+SBEJ/OmBNI2xPkA2y8yyAs9HWi3ggF/KXk5HAkEA8LMHbZWaHO22nu6huHEKf8DiC/FN012iSEClSd9fLLi1EdOpNmFYRIyzdHMWnkWzIgJNcIepIE/neZC0sIo3AQJAMrflwJbdaTdOak2n0Wh1uGHTLUMjvrSHsw50rQa7U2isaHZR8jyYOUZvSOWCvjiusiWk5tEp5gjBH3+rTn39FQJAe/+e2gNx62lC5UmGIqCJihrx2LktILBiA9rZy965By74iQCDcbJgaKAbauhHRK4fhGuvPUOGC1FerC+yBiiOAQJBAMLK6y9pfmNBptmzBvkn+dqXkb2cq+thcKj0GU0qHlt1uE678TbgtKGgmgClykfXVjrFgFHXij088ym751wd2yQ="/>
  </appSettings>

  <system.web>
    <sessionState mode="StateServer" cookieless="false" timeout="20" stateConnectionString="tcpip=127.0.0.1:42424"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>

    <httpRuntime requestValidationMode="2.0" maxRequestLength="200690" useFullyQualifiedRedirectUrl="true" executionTimeout="6000" minFreeThreads="8"
      minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true"/>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880"/>
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
        <add namespace="SL.Web.Service"/>
        <add namespace="System.Web.Script.Serialization"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
